<div id="main">
    <h1>Welcome to Äriregister</h1>
    <p>Start by typing company name or company owner name to the search bar</p>
    <p>Also, you can add new company in menu above</p>
    <div class="input-group rounded search">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <fa-icon [icon]="searchIcon"></fa-icon>
        </span>
    </div>
</div>