<div id="main">
    <h1>Company data</h1>
    <h3>Basic information</h3>
    <div class="warning-msg" *ngIf="companyData && companyData.ERROR">
        <fa-icon [icon]="warningIcon"></fa-icon>
        {{ companyData.ERROR }}
    </div>
    <div *ngIf="companyData && companyData.name">
        <table class="table">
            <tbody>
                <tr>
                    <td class="label">Company name</td>
                    <td>{{companyData.name}}</td>
                </tr>
                <tr>
                    <td class="label">Register code</td>
                    <td>{{companyData.code}}</td>
                </tr>
                <tr>
                    <td class="label">Registered</td>
                    <td>{{companyData.reg_dt}}</td>
                </tr>
                <tr>
                    <td class="label">Total capital</td>
                    <td>{{companyData.capital}}</td>
                </tr>
                <tr>
                    <td class="label">Owners</td>
                    <td>{{companyData.owners}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <h3>Company owners</h3>
    <div class="warning-msg" *ngIf="companyOwners && companyOwners.ERROR">
        <fa-icon [icon]="warningIcon"></fa-icon>
        {{ companyOwners.ERROR }}
    </div>

    <div *ngIf="companyOwners && !companyOwners.ERROR">
        <div *ngFor="let owner of companyOwners">
            <h5>
                <fa-icon *ngIf="owner.type == 'priv'" [icon]="privateIcon" class="owner-type"></fa-icon>
                <fa-icon *ngIf="owner.type == 'bus'" [icon]="businessIcon" class="owner-type"></fa-icon>
                {{ owner.name }} <span> - </span> {{ owner.code }}
            </h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="label">Role</td>
                        <td>{{ owner.role | listPipe:ownerRoleList }}</td>
                    </tr>
                    <tr>
                        <td class="label">Amount</td>
                        <td>{{ owner.amount }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>